<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61363351716-li6tfmjloq8mq33252h66okgl91t5qbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61363351716-li6tfmjloq8mq33252h66okgl91t5qbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBP3DgtLbRTFyYZemzitaQC-wuMmSBuQBI</string>
	<key>GCM_SENDER_ID</key>
	<string>61363351716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewmohandiss.Slider</string>
	<key>PROJECT_ID</key>
	<string>slider-6a568</string>
	<key>STORAGE_BUCKET</key>
	<string>slider-6a568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:61363351716:ios:d3e17ea5497f9185</string>
	<key>DATABASE_URL</key>
	<string>https://slider-6a568.firebaseio.com</string>
</dict>
</plist>